body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4e9e9;
    margin: 0;
    padding: 20px;
}
.foto{
    width: 150px;
    border-radius: 150%;
    height: 150px;
}


.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
}

.section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-style: italic;
}